/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        font-size: 0.5em;
        background-color: plum;
    }
    footer,header,nav{
        height: 10.5vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background-color: aliceblue;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        font-size: 20px;
        background-color: beige;
    }
    footer,header,nav{
        height: 11.5vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        font-size: 25px;
        background-color: coral;
    }
    footer,header,nav{
        height: 10.5vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        background-color: cornsilk;
    }
    footer,header,nav{
        height: 10.5vh;
    }
}